secrets.md
notes.md
documentation.md
py/
nuget

.idea
**/.vs
*~



**/[Bb]in/
**/[Oo]bj/

# VIM
*.swp

# Tools for building etc.
tools/

# Installation of development dependencies
installation-dev-dependencies/

# .NET Core Build artefacts
project.lock.json
project.fragment.lock.json
**/artifacts/




# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc